# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/
ENV/
build/
dist/
.eggs/
*.so

# Environment
.env

# Testing
.pytest_cache/

# IDE/editor
.idea/
.vscode/

# Mac/Linux
.DS_Store

